body {
  margin: 0;
  padding-top: 40px;
  color: #777;
}

header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;

  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

header h1 {
  margin: 1px;
  font-size: 12pt;
  font-weight: inherit;
  text-align: center;
  line-height: inherit;
}

.box {
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  font-size: small;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 1px;
}

.unit {
  margin: 0px 5px;
  text-align: left;
  width: 20px;
  display: inline-block;
}

.no_lr_margin {
  margin-left: 0px;
  margin-right: 0px;
}

.no_lr_padding {
  padding-left: 0px;
  padding-right: 0px;
}

.small_lr_padding {
  padding-left: 5px;
  padding-right: 5px;
}

.r_align {
  text-align: right;
}

.c_align {
  text-align: center;
}

.box:first-child {
  margin-top: 0;
}

#main_graph {
  min-width: 310px;
  height: 400px;
}